body {
  background-color: hsl(212, 45%, 89%);
}
img {
  width: 290px;
  border: solid 10px white;
  border-radius: 20px;
  display: block;
  margin: auto;
}
div {
  font-family: outfit;
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 21px;
  margin-top: 15px;
}
.box {
  border: 5px white solid;
  border-radius: 15px;
  width: 318px;
  height: 490px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 30px;
}
p {
  font-family: outfit;
  text-align: center;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
}
